html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
 font-family: 'Amatic sc', serif;
}
img {
  max-width: 100%;
  max-height: 100%;
}


#map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* <<<<<<<<<<----------------- CHECKBOXES BAR*/
#filter-bar {
  z-index: 1;
  height: 85px;
  position: relative;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 2px;
  border-bottom-color: rgba(0,0,0,0.3);
  border-bottom-style: solid;
}

li.check-list {
  display: inline-block;
  padding: 0 0px 0 0;
  margin: 10px 0 10px 50px;
}

/* --- Making some style to the checkbox */
input.buttons {
  display: none;
}

input.buttons + label {
  height: 65px;
  width: 65px;
  display: inline-block;
  opacity: 0.2;
}

input.buttons:hover + label {
  opacity: 0.5;
}


input.buttons:checked + label {
  opacity: 1;
}

/*---- Normal CheckBoxes*/
#join + label {
  background: url("../assets/icons/icon_join.png") no-repeat;
  background-position: center;
  background-size: cover;
}

#meet + label {
  background: url("../assets/icons/icon_meet.png") no-repeat;
  background-position: center;
  background-size: cover;
}

#stay + label {
  background: url("../assets/icons/icon_stay.png") no-repeat;
  background-position: center;
  background-size: cover;
}

#create + label {
  background: url("../assets/icons/icon_work.png") no-repeat;
  background-position: center;
  background-size: cover;
}
/*--------------------------------------------------------------*/
#boxInfo p {
  padding: 0px 14px 0px 14px;
  margin: 5px ;
}
#boxInfo p  strong {
	color: #FA8258;
}
#boxInfo h3 {
  font-family: 'Amatic sc', serif;
  padding: 0px 0px 0px 14px;
  font-size: 2em;
  color: black;
}

#boxInfo {
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.5;
  color: #6E6E6E;

}

#main {
  position: fixed;
  height: 100%;
  width: 100%;
  transition: margin-left .5s;
  padding: 0px;
}

.info .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    margin-left: 65px;
    text-decoration: none;
    color: black;
}

.sliderBox {
  width: 500px;
  height: 20px;
  float: right;
  margin-top: 0px;
  margin-right: 50px;
  padding: 18px
}

#myTextDiv {
    color:white;
    text-align: center;
    padding: 10px;
    background: rgba(255, 138, 101, 0.3);
    width: 15%;
    margin: auto;
    position: relative;
    margin-top: 12%;
    border-radius: 20px;
}


#addBasket {
  margin-top: 7%;
  margin-left: 45px;
  position: relative;
  vertical-align: middle;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50%;
  height: 30px;
  cursor: pointer;
  border: 2px solid rgb(255, 138, 101);
  -webkit-border-radius: 15px;
  border-radius: 25px;
  font: normal 37px/70px "Advent Pro", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  vertical-align:middle;
  line-height:0;
  background: rgb(255, 138, 101);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

#addBasket:hover {
  color: rgb(255, 138, 101);
  background: none;
}

#addBasket:active {
  color: rgba(255,255,255,1);
  background: rgb(255, 138, 101);
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    height: 60px;
    text-align: right;
    border-top: 2px;
    border-top-color: rgba(0,0,0,0.3);
    border-top-style: solid;
}

#shoppingButton {
    color: rgb(255, 138, 101);
    margin-right: 5%;

}

#shoppingButton:hover {
    color: rgba(0,0,0,0.3);
}

#userOptions {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  margin-top: 85px;
  overflow: scroll;
  margin-bottom: 60px;
}

#optionBox {
    width: 75%;
    height: 600px;
    background-color: rgb(255, 138, 101);
    color: white;
    font-family: 'Amatic sc', serif;
    margin: 0 auto;
    text-align: left;
    margin-top: 4%;
    border-radius: 20px;
    padding: 10px;
}

.sliderBase {
    width: 60%;
    float:right;
}

.HostelName {
    width:40%;
    float: left;
}

.boxSlider {
    height: 62px;
    margin-top: 30px;
    padding-right: 20px;
}

#deleteButton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: right;
  width: 30%;
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal normal bold 30px/normal "Amatic sc", Times, serif;
  color: rgba(255,138,108,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  padding-right: 20px;
}

#successBox {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 15px;
  padding-top: 20px;
  position: relative;
  vertical-align: middle;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 30%;
  height: 25px;
  cursor: pointer;
  border: 2px solid rgb(255, 138, 101);
  -webkit-border-radius: 15px;
  border-radius: 25px;
  font: normal 37px/70px "Amatic sc", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  vertical-align:middle;
  line-height:0;
  background: rgb(255, 138, 101);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);

}
